.score {
   display: flex;
   font-weight: 600;
   font-size: 25px;
   color: #ffffff;
   background-color: #cebfbf;
   padding: 7px 0;
   max-width: 170px;
   justify-content: center;
   border-radius: 5px;
}
