.game{
   display:grid;
   margin: 30px 0px 0px 0px;
   grid-template-columns: repeat(4,1fr);
   max-width: 500px;
   margin: auto;
   padding: 20px;
   grid-template-rows: repeat(4,1fr);
   color: #07b6dd;
   gap: 20px;
   background-color: #bd9789;
   border-radius: 5px;
}